body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.line{
  outline: 1px solid red;
}
ul{
  list-style: none;
  margin:0;
  padding: 0;
}
/* componenete header*/
.navbar-brand{
  font-size: 30px;
}
/* iconos < y >*/
.svg-inline--fa.fa-w-10{
  color: #fee522;
}

/* Componente slide*/
.yellow{
  background-color: #ffe521;
  height: 400px;
}
.yellow .svg-inline--fa.fa-w-10{
  color: white;
}

.yellow h1{
  color: white;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

/* sección aside*/

.list li{
  margin-top: 2rem;

}

/* sección main*/
.footer{
  background-color: #343f4b;
  height:180px;
  color: white;
}

.footer p{
  margin-top: 2rem;
}

@media (min-width: 992px){
  .yellow{
    height: 300px;
  }
  .footer{
    height: 100px;
  }

}
