body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.line{
  outline: 1px solid red;
}

/* componenete header*/
.navbar-brand{
  font-size: 30px;
}
/* iconos < y >*/
.svg-inline--fa.fa-w-10{
  color: #fee522;
}


/* Componente slide*/
.yellow{
  background-color: #ffe521;
  height: 400px;
}
.yellow .svg-inline--fa.fa-w-10{
  color: white;
}

.yellow h1{
  color: white;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.color-yellow{
  color:#ffe521;
}
/* secci贸n aside*/
.list{
  border-right: 1px solid #8493a8;
}
.list h5{
  margin-bottom: 0rem;
  border-bottom:  1px solid #8493a8;
  padding-left: 10px;
  padding-bottom: 2rem;
  padding-right: 8px;
  margin-top: 1rem;
}
a{
  color: black;
}
a:hover{
  color: black;
  text-decoration: none;
}
/*Input*/
.list div{
  padding-left: 1rem;
  border-bottom:  1px solid #8493a8;
  padding-bottom: 2rem;
  padding-top: 1rem;
  padding-right: 1rem;
}
.pd{
  padding-left: 0px;
}
/* secci贸n main*/
.mg{
  margin-top: 2rem;
}
/*secci贸n colors*/
.flex{
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}
.rectangle{
  height: 60px;
  width: 150px;
  background-color: red;
  margin-right: 5rem;
}

.back-yellow{
  background-color: #ffe521;
  color: black;
}
.back-green1{
  background-color: #56f89a;
}
.color-green{
  color: #56f89a;
}
.back-fucsia{
  background-color: #ff009e;
  color: white;
}
.color-fucsia{
  color:#ff009e;
}
.back-white{
  background-color: white;
  border: 1px solid gray;
}
.back-black{
  background-color: #343f4b;
  color: white;
}
.border{
  border:  1px solid #8493a8;
  width: 170px;
}
/*secci贸n  footer*/
.footer{
  background-color: #343f4b;
  height:180px;
  color: white;
}

.footer p{
  margin-top: 2rem;
}
.footer h6{
  margin-top: 2rem;
}
@media (min-width: 992px){
  .yellow{
    height: 300px;
  }
  .footer{
    height: 100px;
  }
  .footer p{
    font-size: 30px;
  }
  .footer h6{
    font-size: 20px;
    margin-top: 3rem;
  }
  .flex{
    flex-direction: row;
  }
  .rectangle{
    width: 250px;
  }
  .border{
    width: 400px;
  }
}
