body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.line{
  outline: 1px solid red;
}
ul{
  list-style: none;
  margin:0;
  padding: 0;
}
/* componenete header*/
.navbar-brand{
  font-size: 30px;
}
/* iconos < y >*/
.svg-inline--fa.fa-w-10{
  color: #fee522;
}

/* Componente slide*/
.yellow{
  background-color: #ffe521;
  height: 300px;
}
.yellow .svg-inline--fa.fa-w-10{
  color: white;
}

.yellow h1{
  color: white;
  margin-top: 5rem;
  margin-bottom: 1rem;
}
